.search-history {
    margin-left: 50px;
    /* padding-top: 100px; */
    padding-left: 10px;
    height: 500px;
    width: max-content;
    background-color: white;
}

.weather-main {
    background-color: white;
    margin-right: 50px;
    padding-right: 10px;
}

#search-span {
    padding: 20px 100px 20px 10px;
}

.current-weather {
    width: auto;
    height: auto;
    background-color: white;
    color: rgb(68, 68, 68);
}

.forecast-weather {
    width: auto;
    height: auto;
    margin-top: 10px;
    background-color: white;
    color: rgb(68, 68, 68);
}

.city {
    font-size: 25px;
}

.search-p {
    width: max-content;
    font-weight: bolder;
}